* {
  padding: 0;
  margin: 0;
}
body {
  cursor: auto;
}
#container {
  width: auto;
  margin: 0 auto;
  max-width: 884px;
}
#main {
  height: 80%;
  max-width: 500px;
}
#ramka {
  box-sizing: border-box;
  display: flex;
  justify-content: space-around;
}
.btn {
  display: block;
  text-decoration: none;
  color: #000;
  padding: 10px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  transition: background-color 0.5s;
  -webkit-transition: color 0.5s;
  -moz-transition: color 0.5s;
  -ms-transition: color 0.5s;
  -o-transition: color 0.5s;
}
.btn:hover {
  color: hsl(214, 71%, 44%);
}
.btn:first-child {
  color: #fff;
  background-color: hsl(214, 71%, 44%);
  transition: background-color 0.5s;
  -webkit-transition: background-color 0.5s;
  -moz-transition: background-color 0.5s;
  -ms-transition: background-color 0.5s;
  -o-transition: background-color 0.5s;
}
.btn:first-child:hover {
  color: #fff;
  background-color: hsl(214, 71%, 20%);
}
